.mainWrapper {
  padding: 0px 100px;
}

.header {
  font-size: 20px;
  padding-bottom: 30px;
}

.horzDivider {
  border-bottom: 1px solid black;
}

.recentOrderContainer {
  display: inline-block;
  width: 60%;
}

.vertDivider {
  display: inline-block;
  height: 100%;
  border-right: 1px solid black;
}

.navContainer {
  display: inline-block;
  width: 35%;
}
