.mainWrapper {
  width: 100%;
  height: 100%;
}
.bannerWrapper {
  text-align: center;
}

.preBanner {
  padding: 10px;
  color: #5dc832;
}

.banner {
  font-size: 30px;
  padding: 20px;
}

.subBanner {
  padding: 20px;
  color: #6e6e6e;
}

.btnWrapper {
  padding: 20px;
}

.frame {
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(8, 70px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 50px;
  padding: 5px 100px;
}

.frameItem1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7;
  background: url("https://i.ytimg.com/vi/7KMsQHDzJM4/maxresdefault.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frameItem2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 5;
  background: url("https://previews.123rf.com/images/279photo/279photo1708/279photo170800019/83490750-cooking-sweets-set-with-sugar-in-bowls-on-kitchen-table-background-top-view-mock-up.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frameItem3 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 5;
  background: url("https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_960_720.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frameItem4 {
  grid-column-start: 13;
  grid-column-end: 17;
  grid-row-start: 3;
  grid-row-end: 7;
  background: url("https://image.freepik.com/free-photo/kitchen-background-cooking-food-concept-closeup-cooking-process-vegetables-table-cooking-italian-pasta_1220-1361.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frameItem5 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 8;
  background: url("https://st3.depositphotos.com/1015337/19022/i/1600/depositphotos_190221216-stock-photo-spices-cooking-kitchen-accessories-old.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frameItem6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
  background: url("http://adastraerrans.com/wp-content/uploads/2018/10/small-and-efficient-cooking-table-wallpaper-wallpaper-studio-10-tens-of-thousands-hd.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  margin-top: 150px;
  background-color: #f5f5f5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  grid-template-rows: repeat(8, 70px);
  padding: 5px 100px;
}

.infoImg1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 6;
  background: url("http://adastraerrans.com/wp-content/uploads/2018/10/small-and-efficient-cooking-table-wallpaper-wallpaper-studio-10-tens-of-thousands-hd.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoImg2 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 8;
  background: url("https://st3.depositphotos.com/1015337/19022/i/1600/depositphotos_190221216-stock-photo-spices-cooking-kitchen-accessories-old.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .divider {
  display: inline-block;
} */

.header {
  font-size: 40px;
  grid-column-start: 9;
  grid-column-end: 17;
  grid-row-start: 2;
  grid-row-end: 6;
}

.subHeader {
  font-size: 20px;
  grid-column-start: 9;
  grid-column-end: 17;
  grid-row-start: 5;
  grid-row-end: 9;
}

.processWrapper {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  grid-template-rows: repeat(8, 70px);
  padding: 5px 100px;
}

.processBanner {
  grid-column-start: 6;
  grid-column-end: 12;
  grid-row-start: 0;
  grid-row-end: 2;
  text-align: center;
  font-size: 30px;
}

.process1 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 9;
  text-align: center;
  color: #5dc832;
}

.process2 {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 9;
  text-align: center;
  color: #5dc832;
}
.process3 {
  grid-column-start: 12;
  grid-column-end: 16;
  grid-row-start: 3;
  grid-row-end: 9;
  text-align: center;
  color: #5dc832;
}

.processHeader {
  font-size: 20px;
  color: #6e6e6e;
  margin-top: 20px;
}

.processBody {
  font-size: 15px;
  color: black;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .bannerWrapper {
    margin-top: 100px;
  }

  .frame {
    padding: 5px 10px;
    grid-template-rows: repeat(7, 60px);
  }

  .frame .frameItem1 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .frame .frameItem2 {
    grid-column-start: 4;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 7;
  }

  .frame .frameItem3 {
    display: none;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .frame .frameItem4 {
    display: none;
    grid-column-start: 10;
    grid-column-end: 17;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .frame .frameItem5 {
    display: none;
  }

  .frame .frameItem6 {
    display: none;
  }

  .info {
    margin-top: 0px;
    padding: 5px 10px;
    grid-template-rows: repeat(8, 50px);
  }

  .infoImg1 {
    display: none;
  }
  .infoImg2 {
    display: none;
  }

  .header {
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    margin-top: 30px;
  }

  .subHeader {
    font-size: 15px;
    grid-column-start: 2;
    grid-column-end: 16;
    grid-row-start: 4;
    grid-row-end: 8;
    text-align: center;
  }

  .processWrapper {
    margin-top: 50px;
    padding: unset;
    grid-template-rows: repeat(12, 70px);
  }

  .processBanner {
    grid-column-start: 3;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    font-size: 30px;
  }

  .process1 {
    grid-column-start: 2;
    grid-column-end: 16;
    grid-row-start: 3;
    grid-row-end: 7;
  }

  .process2 {
    grid-column-start: 2;
    grid-column-end: 16;
    grid-row-start: 7;
    grid-row-end: 11;
  }

  .process3 {
    grid-column-start: 2;
    grid-column-end: 16;
    grid-row-start: 11;
    grid-row-end: 15;
  }
}
