.mainWrapper {
  display: inline-block;
  left: 50%;
  position: relative;
  transform: translate(-50%);
  margin-top: 25px;
  width: 25%;
}

.formHeader {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  color: #325d77;
}

.inputField {
  padding: 10px;
  width: 100%;
  margin: 10px 0px;
}

.submitBtn {
  background-color: #325d77;
  color: white;
  width: 100%;
  margin-top: 30px;
}
