.mainWrapper {
  display: inline-block;
  position: relative;
  width: 25%;
  margin: auto;
  padding: 20px;
  color: black;
}

.mainWrapper:hover {
  text-decoration: none;
  color: black;
}

.mainWrapper:hover .productImg {
  opacity: 0.8;
}

.mainWrapper:hover .hoverItem {
  display: unset;
}

.productImg {
  position: relative;
  width: 100%;
  height: 18vw;
  background-color: #eef0f3;
}

.nameWrapper {
  margin-top: 10px;
}

.name {
  font-size: 17px;
  font-weight: 700;
}

.price {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .mainWrapper {
    width: 50%;
  }

  .productImg {
    height: 35vw;
  }
}
