.mainWrapper {
  padding: 5px 80px;
  margin-top: 150px;
}

.header {
  padding: 10px;
  font-weight: 600;
  font-size: 25px;
}

.tags {
  border-bottom: 0.5px solid darkgray;
}

.tags div {
  padding: 10px;
  display: inline-block;
}

.productName {
  width: 70%;
}

.productQt {
}

.productPrice {
  float: right;
}

.subTotal {
  width: 100%;
  text-align: end;
  padding: 10px;
  margin-top: 20px;
}

.purchaseBtnContainer {
  float: right;
  margin-top: 20px;
  margin-bottom: 100px;
}

.purchaseBtn {
  padding: 10px;
  background-color: unset;
  border: 2px solid black;
}

.purchaseBtn:hover {
  background-color: black;
  color: white;
}
