.regular {
  display: flex;
  padding: 20px 100px;
  background-color: white;
}

.sticky {
  display: flex;
  padding: 20px 100px;
  left: 0;
  right: 0;
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}

.hamburger {
  position: absolute;
  cursor: pointer;
  z-index: 3;
}

.brand {
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-family: "sunflower";
}

.brand:hover {
  text-decoration: none;
  color: black;
}

.navLinkContainer {
  margin-left: auto;
}

.navLink {
  font-size: 13px;
  color: #656565;
  margin: unset;
  margin-left: 30px;
  padding-bottom: 5px;
}

.navLink:hover {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

.icons {
  float: right;
  margin: unset;
  padding: unset;
}

.navDesktop {
  margin-left: auto;
}

.navMobile {
  margin-left: auto;
}

.cartIconBtn {
  background-color: white;
  border: none;
}

/* .linkContainer a {
  color: #656565;
  margin-left: 10px;
  font-size: 15px;
  line-height: 30px;
} */

.linkContainer a:hover {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .regular {
    padding: 20px 20px;
  }

  .sticky {
    padding: 20px 20px;
  }

  .brand {
    left: 50%;
    position: relative;
    transform: translate(-50%);
  }
}
