.mainWrapper {
}

.cardContainer {
  padding: 100px 100px;
  position: relative;
  background-color: white;
}

.longCard {
  display: inline-block;
  width: 60%;
  border: 1px solid black;
  height: 400px;
  margin-bottom: 50px;
}

.shortCard {
  display: inline-block;
  width: 35%;
  border: 1px solid black;
  height: 400px;
  margin-bottom: 50px;
}

.space {
  display: inline-block;
  width: 5%;
}

.banner {
  height: 350px;
  background-color: #eef0f3;
}

.backPhoto {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://images.tritondigitalcms.com/6616/sites/356/2019/08/27085008/Toy-Story-Woody.jpg")
    no-repeat fixed center;
  background-size: cover;
  z-index: -1;
}

.floatingCardWrapper {
  height: 700px;
}

.floatingCard {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    padding: 50px 0px 0px 0px;
  }

  .longCard {
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  .shortCard {
    width: 50%;
    height: 200px;
    margin-bottom: 10px;
  }

  .space {
    display: none;
  }

  .floatingCardWrapper {
    height: 300px;
  }

  .floatingCard {
    width: 150px;
    height: 150px;
  }

  .backPhoto {
    display: none;
  }

  .banner {
    height: 200px;
  }
}
