.bannerWrapper {
  height: 350px;
  background-color: #f7ebd1;
}

.bannerDesc {
  position: relative;
  width: 30%;
  top: 50%;
  margin-top: 0 auto;
  transform: translate(0, -50%);
  margin-left: 100px;
}

.bannerDesc h1 {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .bannerWrapper {
    height: 200px;
  }

  .bannerDesc {
    font-size: 13px;
    margin-left: 20px;
    width: 40%;
  }

  .bannerDesc h1 {
    font-size: 20px;
  }
}
