.mainWrapper {
  display: flex;
  padding: 5px 100px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #eef0f3;
}

/* html:not([data-scroll="0"]) .mainWrapper {
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
} */

.hamburger {
  position: absolute;
  cursor: pointer;
  z-index: 3;
}

.adLink {
  color: black;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "sunflower";
}

.adLink:hover {
  text-decoration: none;
  color: black;
}

.icons {
  float: right;
  cursor: pointer;
}

.cartIconBtn {
  background-color: white;
  border: none;
}

.linkContainer a {
  color: #656565;
  margin-right: 10px;
  font-size: 15px;
  line-height: 30px;
}

.linkContainer a:hover {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .mainWrapper {
    padding: 5px 20px;
  }

  .adLink {
    position: unset;
    display: inline-block;
    margin-left: auto;
    left: unset;
    transform: unset;
  }
}
