.mainWrapper {
  border-bottom: 0.5px solid darkgray;
  padding: 25px 0px;
  color: #6e6e6e;
}

.left {
  display: inline-block;
  width: 70%;
}

.deleteBtnContainer {
  display: inline-block;
  background: unset;
  border: unset;
}

.deleteBtn {
  width: 20px;
}

.imgContainer {
  display: inline-block;
  margin-left: 50px;
}

.productImgSm {
  width: 100px;
}

.nameContainer {
  display: inline-block;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
}

.nameContainer a {
  color: #6e6e6e;
}

.qtContainer {
  display: inline-block;
  width: 75px;
}

.qtContainer input {
  text-align: center;
}

.priceContainer {
  float: right;
  transform: translate(0, 100%);
  padding: 9px;
}
