.mainWrapper {
  padding: 5px 100px;
}

.mainContainer {
  text-align: center;
  position: relative;
}

.imgContainer {
  float: left;
  width: 40%;
}

.productImg {
  width: 80%;
}

.infoContainer {
  width: 50%;
  text-align: justify;
  display: inline-block;
}

.nameContainer {
  font-size: 45px;
  font-weight: 600;
}

.priceContainer {
  font-size: 20px;
  color: gray;
  margin-top: 20px;
}

.detailContainer {
  font-size: 20px;
  margin-top: 20px;
}

.qtContainer {
  margin-top: 30px;
}

.qtInputWrapper {
  width: 100px;
}

.btnContainer {
  margin-top: 30px;
}

.addCartBtn {
  padding: 10px;
  background-color: unset;
  width: 130px;
  border: 2px solid black;
}

.addCartBtn:hover {
  background-color: black;
  color: white;
}

.icons {
  width: 25px;
  vertical-align: bottom;
}

@media only screen and (max-width: 768px) {
  .mainWrapper {
    padding: 5px 20px;
    margin-top: 100px;
  }

  .productImg {
    height: unset;
    width: 100%;
  }
  .infoContainer {
    width: 100%;
    padding: unset;
    float: unset;
    margin-top: 30px;
  }

  .qtContainer {
    margin-top: 30px;
  }

  .innerModal {
    width: unset;
  }

  .detailBtn {
    opacity: 1;
  }
}
