.mainWrapper {
  background-color: white;
}

.contentWrapper {
  padding: 100px 100px;
  text-align: center;
}

.brand {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
}

.iconContainer {
  display: inline-block;
  padding: 5px;
}

.iconContainer i {
  cursor: pointer;
}

.iconContainer i:hover {
  opacity: 0.7;
}

.support {
  padding: 25px 0px;
  border-top: 2px solid #f7ebd1;
  border-bottom: 2px solid #f7ebd1;
}

.support a {
  color: #656565;
}

.copyright {
  font-size: 15px;
  margin-top: 10px;
}

.link {
  padding: 5px;
}

.horDivider {
  width: 98%;
  position: absolute;
  right: 1%;
  background-image: linear-gradient(
    90deg,
    rgba(88, 88, 88, 0),
    rgba(58, 49, 49, 0.837),
    transparent
  );
  border: 0;
  height: 1px;
}

@media only screen and (max-width: 768px) {
  .contentWrapper {
    padding: 100px 10%;
  }
}
