@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.loadingOuterModal {
  animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -webkit-animation: fadeIn 0.2s;
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: hidden;
}
