@keyframes slideIn {
  from {
    margin-right: -30%;
    /* opacity: 0; */
  }

  to {
    margin-right: 0%;
    /* opacity: 1; */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.outerWrapper {
  animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -webkit-animation: fadeIn 0.2s;
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.mainWrapper {
  animation: slideIn 0.2s;
  -ms-animation: slideIn 0.2s;
  -moz-animation: slideIn 0.2s;
  -webkit-animation: slideIn 0.2s;
  position: fixed;
  background-color: white;
  width: 40%;
  z-index: 2;
  right: 0;
  top: 0;
  bottom: 0;
  /* border-left: 0.5px solid rgba(58, 49, 49, 0.837); */
  /* box-shadow: 0.5px 0.5px 5px grey; */
  max-height: 100vh;
  /* overflow-y: overlay; */
}

/* .leftHalf {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
} */

.linkContainer {
  text-align: right;
}

.linkContainer a {
  color: black;
  display: block;
  border-bottom: 2px solid #eef0f3;
  padding: 10px 10px;
}

.horDivider {
  width: 98%;
  position: absolute;
  right: 1%;
  background-image: linear-gradient(
    90deg,
    rgba(88, 88, 88, 0),
    rgba(58, 49, 49, 0.837),
    transparent
  );
  border: 0;
  height: 1px;
}

.rightHalf {
  position: absolute;
  padding: 50px;
  width: 50%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.loginWrapper {
  text-align: center;
}

.signupWrapper {
  text-align: center;
}

.formContainer {
  padding: 10px;
  font-size: 15px;
}

input {
  padding: 10px;
  width: 70%;
}

.formBtn {
  padding: 10px;
  background-color: unset;
  width: 40%;
  border: 2px solid black;
}

.formBtn:hover {
  background-color: black;
  color: white;
}

.vertDivider {
  position: relative;
  width: 98%;
  right: 1%;
  background-image: linear-gradient(
    90deg,
    rgba(88, 88, 88, 0),
    rgba(58, 49, 49, 0.837),
    transparent
  );
  border: 0;
  height: 1px;
  top: unset;
  left: unset;
  transform: unset;
}
