@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
.icons {
  width: 25px;
  vertical-align: bottom;
}

.outerModal {
  animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -webkit-animation: fadeIn 0.2s;
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: hidden;
}

.innerModal {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 1%;
}

.detailBtn {
  margin-top: 20px;
  border: none;
  padding: unset;
  background-color: white;
  opacity: 0.6;
}

.detailBtn:hover {
  opacity: 1;
}

.detailBtn img {
  margin-left: 5px;
}

.detailTable {
  width: 100%;
}

.detailTable td {
  text-align: left;
  word-break: break-all;
  padding: 10px;
}

.detailTable .head {
  width: 40%;
}

.modalCloseBtn {
  border: none;
  background-color: white;
  padding: unset;
  padding-bottom: 10px;
}
